@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;  
    --foreground: 217 49% 19%; 
    --card: 217 49% 98%;
    --card-foreground: 217 49% 19%;  
    --popover: 0 0% 100%; 
    --popover-foreground: 217 49% 19%;  
    --primary: 217 49% 38%;  
    --primary-foreground: 0 0% 100%; 
    --secondary: 33 76% 45%; 
    --secondary-foreground: 0 0% 100%; 
    --muted: 33 76% 95%;  
    --muted-foreground: 217 49% 45%;  
    --accent: 33 76% 90%;  
    --accent-foreground: 217 49% 25%;  
    --destructive: 0 84% 60%; 
    --destructive-foreground: 0 0% 100%;  
    --border: 217 49% 85%;
    --input: 217 49% 85%;
    --ring: 33 76% 45%; 
    --chart-1: 217 49% 38%;  
    --chart-2: 33 76% 45%;  
    --chart-3: 217 49% 55%; 
    --chart-4: 33 76% 60%; 
    --chart-5: 217 49% 28%;  
    --radius: 0.5rem;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-primary text-foreground;
  }
}